*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 230px;
}

.top-container {
    display: flex;
    justify-content: end;
    width: 100%;
}

.bottom-container {
    display: flex;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #063970;
    transform: translateY(-15px);
}

.c{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 5px solid #063970;
    z-index: 20;
}

.number{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.capsule {
    height: 30px;
    background: #87c3eb;
    display: flex;
    border-radius: 5px 0 0 5px;
    transform: translateY(3px);
}

.left-content {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.middle {
    height: 30px;
    width: 20px;
    background: linear-gradient(to left top, rgb(247, 105, 105) 50%, transparent 51%, rgba(0,0,0,0) 71%, rgba(255,55,8,0) 100%);
}

.right-content {
    width: 60px;
    height: 30px;
    margin-left: 20px;
    background: linear-gradient(to right,rgb(247, 105, 105) 50%,#fff);
    display: flex;
    align-items: center;
}

.value {
    color: #000;
}
